name: Node.js CI
on:
  pull_request:
    branches: ["master"]
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install
        run: npm ci

      - name: Lint TypeScript
        run: npm run lint:ts

      - name: Build
        run: npm run build

      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: |
            lib/**/*.js
            lib/**/*.js.map
            lib/**/*.d.ts

  test:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Download build
        uses: actions/download-artifact@v6
        with:
          path: lib
          name: build

      - name: Test
        run: npm test
